@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular&display=swap&subset=cyrillic-ext);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Source Sans Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Source Sans Pro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-size: 14px;
  background-color: #010202;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1188px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  background-color: #ea6e20;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.btn--grey {
  background-color: #2f2f2f;
}

.btn._fw {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__title {
  font-size: 18px;
  line-height: 28px;
  margin: 30px 30px 0px 0px;
}

.popup__title span {
  font-size: 36px;
  line-height: 42px;
}

.popup__image {
  width: 250px;
}

.popup__image img {
  max-width: 100%;
  display: block;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #010202;
  padding: 50px;
  width: 100%;
  max-width: 1200px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  padding-top: calc(41px + 15 * ((100vw - 320px) / 1600));
  padding-bottom: calc(41px + 15 * ((100vw - 320px) / 1600));
  height: 40px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__logo {
  max-width: 100%;
  display: block;
  height: auto;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-login__name {
  font-family: inherit;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header-login__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 0px 0px 15px;
}

.header-login__images {
  max-width: 100%;
  height: auto;
  display: block;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.fullscreen {
  min-height: 100vh;
  padding-top: calc(120px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(60px + 40 * ((100vw - 320px) / 1600));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#010202), color-stop(60%, #010202), color-stop(90%, rgba(1, 2, 2, 0.2)));
  background: -o-linear-gradient(left, #010202 0%, #010202 60%, rgba(1, 2, 2, 0.2) 90%);
  background: linear-gradient(90deg, #010202 0%, #010202 60%, rgba(1, 2, 2, 0.2) 90%);
  display: block;
  z-index: 2;
}

.fullscreen__video {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  z-index: 2;
}

.fullscreen__video-item {
  width: 100%;
  height: 100%;
}

.fullscreen__image {
  position: absolute;
  content: "";
  width: 39.844%;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
  z-index: 3;
}

.fullscreen__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.88%, #010202), color-stop(44.9%, rgba(1, 2, 2, 0.2)));
  background: -o-linear-gradient(left, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%);
  background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%);
  display: block;
  z-index: 4;
}

.fullscreen-body {
  max-width: 1188px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.fullscreen-content {
  width: 100%;
}

.fullscreen-content__tags {
  margin: 18px 0px 0px 0px;
}

.fullscreen-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.fullscreen-content__description {
  font-style: normal;
  font-weight: 400;
  max-width: calc(300px + 140 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 5 * ((100vw - 320px) / 1600));
  line-height: calc(22px + 7 * ((100vw - 320px) / 1600));
  margin: 9px 0px 36px 0px;
}

.fullscreen-content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen-content__btn a {
  margin: 0px 15px 0px 0px;
}

.fullscreen-content__btn a span {
  position: relative;
  padding: 0px 0px 0px 22px;
}

.fullscreen-content__btn a span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 13px;
  background: url("../img/fullscreen/arrow.svg") no-repeat;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tags__date,
.tags__category,
.tags__country,
.tags__age {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  font-size: calc(11px + 5 * ((100vw - 320px) / 1600));
  color: #e5e5e5;
  opacity: 0.4;
  margin: 0px 15px 0px 0px;
}

.tags__age {
  opacity: 0.5;
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 0 5px;
}

@media (max-width: 1200px) {
  ._container {
    max-width: 970px;
  }

  .fullscreen-body {
    max-width: 970px;
  }
}

@media (max-width: 1000px) {
  .fullscreen__video {
    width: 49%;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .fullscreen-body {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 21px;
  }

  .btn--grey {
    width: 64px;
    height: 44px;
    padding: 0px 0px 0px 0px;
  }

  .header-login__name {
    display: none;
  }

  .fullscreen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .fullscreen__video {
    display: none;
  }

  .fullscreen__image {
    position: relative;
    margin: 100px 0px 0px 0px;
    max-width: 450px;
    width: 100%;
    display: block;
    height: calc(400px + 600 * ((100vw - 320px) / 1600));
  }

  .fullscreen__image img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .fullscreen-body {
    max-width: none;
    padding: 0 21px;
  }

  .fullscreen-content__btn a span {
    visibility: hidden;
  }

  .fullscreen-content__btn a span::after {
    visibility: visible;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-146%, -50%);
        -ms-transform: translate(-146%, -50%);
            transform: translate(-146%, -50%);
  }
}

@media (max-width: 520px) {
  .popup__content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .popup__image {
    width: 180px;
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 375px) {
  .fullscreen-content__description {
    max-width: 100%;
  }
}